<div class="footer-xs hidden-sm hidden-md hidden-lg">
  <!--div class="footer-links hidden-sm hidden-md hidden-lg">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a
  </div>-->
</div>


<div class="footer hidden-xs">
  <!--div class="footer-links hidden-sm hidden-md hidden-lg">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a
  </div>-->
  <%= render 'shared/flashes' %>
</div>
